/* Import modules folder CSS files */
@import "modules/AdaptiveBF.css";
@import "modules/autoHideBookmarkBar.css";
@import "modules/dialogTab.css";
@import "modules/Indicator.css";
@import "modules/Main.css";
@import "modules/Quietify.css";
@import "modules/theme-previewer.css";
@import "modules/TidyTabs.css";
@import "modules/FluidTabbar.css";

/* Import notstable folder CSS files */
/*@import "notstable/autoHidePanel.css";*/
@import "notstable/tileExpand.css";
@import "notstable/ClearTabs.css";
@import "notstable/SuperPins.css";
/* @import "notstable/tools.cssssss"; */
/* @import "notstable/arcFolder.css"; */

/* Adjust Configure In :root */
:root {
  /*on or off*/
  --fluid-compact-mode: off; /* Toggle on to Have a Thinner Main Tabbar */
  --fluid-preview-mode: off; /*Experimental, use along with compact mode */

  --fluid-float-tabbar: on; /* Make Tabbar Float Over Webpage When Expanding */
  --fluid-mask: on; /* When Tabbar Expand Show A Blurry Mask Over Webpage */
  --fluid-blur-hibernate-tab: off; /* Blur Hibernated Tabs */

  --fluid-delay: on; /* Whether to delay the tabbar expand/collapse animation */
  --fluid-border-radius: on; /* Whether to round the tabbar border radius when it expand */

  --fluid-transparent-mode: off;  /* Useless For Now */

  --fluid-tabs-grid: on; /* Whether to Show "Favourite Tabs" Grid */
  --fluid-pin-at-top: off; /* Experimental, Whether to Pin the "Favourite Tabs" at Top */

  --pinned-column-count: 3;
  --pinned-row-count: 3;
  --pinned-gap: 8px;
  --pinned-icon-size: 20px;
  --pinned-tab-height: 50px;

  --tabs-container-collapse-width-default: 44px; 
  --tabs-container-collapse-width-compact: 7px; /* Compact Mode */

  --tabs-container-expand-width: 280px;
  --tabs-subcontainer-collapse-width: 44px;
  --tabs-subcontainer-expand-width: calc(
    var(--tabs-container-expand-width) +
      var(--tabs-subcontainer-collapse-width) -
      var(--tabs-container-collapse-width-default)
  );

  --Button-newtab-main-width: calc(var(--tabs-container-expand-width) / 2);
  --Button-newtab-sub-width: calc(var(--tabs-subcontainer-expand-width) / 2);

  --tabbar-margin-top: -6px;
  --tabbar-margin-bottom: 0px;
  --tabbar-padding: 7px; /* Set to 0 if any tabs position problem */

  /* Expand tab bar border change accordingly to border radius set in browser theme*/
  --tabbar-border-radius-collapse: 0px; /* Set to zero if you don't want round corner when tabbar collapsed */

  /* Animation speed when tabbars expand or collapse */
  --slow-animation-speed: 560ms;
  --animation-speed: 260ms;
  --fast-animation-speed: 140ms;

  /* Animation Delay Time */
  --transition-delay-time-expand: 0ms;
  --transition-delay-time-collapse: 100ms;

  /* Adaptive Skin */
  /* If you didn't set custom theme color, Tab bar accent from your browser theme color automatically */
  /* You can still add your own color, checkout example below */

  /* Dark Skin */
  /* --tabbar-bg-color-collapse: rgb(27, 27, 28);
  --tabbar-bg-color-expand: rgb(53, 58, 63); */
  /* --tabbar-border-color-collapse: rgba(66, 73, 80, 0.856);
  /* --tabbar-border-color-expand: rgb(45, 123, 139); */

  /* ============================================ */
  /* Config Quietify.css */
  /* ============================================ */

  --tab-icon-size: 16px;
  --popup-icon-size: 14px;
  --panel-icon-size: 10px;

  /* ============================================ */
  /* Config toviArc legacy */
  /* ============================================ */

  --window-border: 4px;
  /*--mac-header: calc(var(--window-border));*/
  --mac-header: 0px;
  --win-header: calc(var(--window-border) + 20px);
  --linux-header: calc(var(--window-border) + 20px);
  --addressbar-height: 36px;
  --window-button-scale: 0.8;
  --window-button-opacity: 0.3;
  /*--tab-padding: calc(var(--window-border) / 2);*/
  --tab-padding: 0;
  --colorTransparent: transparent;

  /* Tab Styling Variables */
  --mod-whitespace-x: 3px;
  --mod-whitespace-y: 5px;
  --mod-whitespace-tabbar-right: 15px;
  --mod-mainbar-height: 25px;
}
