/*<span class="tab-audio"><canvas class="audioicon" width="32" height="32" title="标签静音"></canvas></span>
<span class="tab-audio"><canvas class="audioicon" width="32" height="32" title="取消标签静音"></canvas></span>
<div class="audio-container"><canvas class="audioicon" width="32" height="32" title="标签静音"></canvas></div>
<span class="button-icon audio"><canvas class="audioicon" width="32" height="32" title="标签静音"></canvas></span>*/

/* This mod only work when vivaldi UI language was set as English/Chinese, add your own language support by editing line 58-61 and 67-70 */

:root {
  --tab-icon-size: 16px;
  --popup-icon-size: 12px;
}

.tab-audio {
  padding-left: 16px !important;
  padding-right: 6px !important;
  margin-left: -1px !important;
  overflow: visible !important;
}

/* Universal audio icon style */
.tab-audio .audioicon,
.audio-container .audioicon,
.button-icon.audio .audioicon,
canvas.audioicon {
  background-color: currentColor !important;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  background-clip: padding-box;

  opacity: 0.8 !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  transition: all 0.2s ease-out !important;
  overflow: visible !important;
  transform: scale(1) !important;
}

/* Icon size in tabs */
.tab-audio .audioicon,
.tab-audio canvas.audioicon {
  width: var(--tab-icon-size) !important;
  height: var(--tab-icon-size) !important;
  mask-size: var(--tab-icon-size) var(--tab-icon-size) !important;
  margin-left: -15px !important;
  margin-top: 1px !important;
}

/* Icon size in pop-ups/buttons */
.audio-container .audioicon,
.button-icon.audio .audioicon {
  width: var(--popup-icon-size) !important;
  height: var(--popup-icon-size) !important;
  mask-size: var(--popup-icon-size) var(--popup-icon-size) !important;
}

/* Playing */
.tab.audio-on .audioicon,
.audio-container canvas.audioicon[title="标签静音"],
.audio-container canvas.audioicon[title="Mute tab audio"],
.button-icon.audio .audioicon[title="标签静音"],
.button-icon.audio .audioicon[title="Mute tab audio"] {
  mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20135%20140%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%22%3E%3Crect%20y%3D%2210%22%20width%3D%2215%22%20height%3D%22120%22%20rx%3D%226%22%3E%3Canimate%20attributeName%3D%22height%22%20begin%3D%220.5s%22%20dur%3D%221s%22%20values%3D%22120%3B110%3B100%3B90%3B80%3B70%3B60%3B50%3B40%3B140%3B120%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%3Canimate%20attributeName%3D%22y%22%20begin%3D%220.5s%22%20dur%3D%221s%22%20values%3D%2210%3B15%3B20%3B25%3B30%3B35%3B40%3B45%3B50%3B0%3B10%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%3C%2Frect%3E%3Crect%20x%3D%2230%22%20y%3D%2210%22%20width%3D%2215%22%20height%3D%22120%22%20rx%3D%226%22%3E%3Canimate%20attributeName%3D%22height%22%20begin%3D%220.25s%22%20dur%3D%221s%22%20values%3D%22120%3B110%3B100%3B90%3B80%3B70%3B60%3B50%3B40%3B140%3B120%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%3Canimate%20attributeName%3D%22y%22%20begin%3D%220.25s%22%20dur%3D%221s%22%20values%3D%2210%3B15%3B20%3B25%3B30%3B35%3B40%3B45%3B50%3B0%3B10%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%3C%2Frect%3E%3Crect%20x%3D%2260%22%20width%3D%2215%22%20height%3D%22140%22%20rx%3D%226%22%3E%3Canimate%20attributeName%3D%22height%22%20begin%3D%220s%22%20dur%3D%221s%22%20values%3D%22120%3B110%3B100%3B90%3B80%3B70%3B60%3B50%3B40%3B140%3B120%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%3Canimate%20attributeName%3D%22y%22%20begin%3D%220s%22%20dur%3D%221s%22%20values%3D%2210%3B15%3B20%3B25%3B30%3B35%3B40%3B45%3B50%3B0%3B10%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%3C%2Frect%3E%3Crect%20x%3D%2290%22%20y%3D%2210%22%20width%3D%2215%22%20height%3D%22120%22%20rx%3D%226%22%3E%3Canimate%20attributeName%3D%22height%22%20begin%3D%220.25s%22%20dur%3D%221s%22%20values%3D%22120%3B110%3B100%3B90%3B80%3B70%3B60%3B50%3B40%3B140%3B120%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%3Canimate%20attributeName%3D%22y%22%20begin%3D%220.25s%22%20dur%3D%221s%22%20values%3D%2210%3B15%3B20%3B25%3B30%3B35%3B40%3B45%3B50%3B0%3B10%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%3C%2Frect%3E%3Crect%20x%3D%22120%22%20y%3D%2210%22%20width%3D%2215%22%20height%3D%22120%22%20rx%3D%226%22%3E%3Canimate%20attributeName%3D%22height%22%20begin%3D%220.5s%22%20dur%3D%221s%22%20values%3D%22120%3B110%3B100%3B90%3B80%3B70%3B60%3B50%3B40%3B140%3B120%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%3Canimate%20attributeName%3D%22y%22%20begin%3D%220.5s%22%20dur%3D%221s%22%20values%3D%2210%3B15%3B20%3B25%3B30%3B35%3B40%3B45%3B50%3B0%3B10%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%3C%2Frect%3E%3C%2Fsvg%3E") !important;
}

/* Muted */
.tab.audio-muted .audioicon,
.audio-container canvas.audioicon[title="取消标签静音"],
.audio-container canvas.audioicon[title="Unmute tab audio"],
.button-icon.audio .audioicon[title="取消标签静音"],
.button-icon.audio .audioicon[title="Unmute tab audio"] {
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxMzYgMTQwIiBmaWxsPSIjZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IHg9IjQiIHk9IjcwIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHJ4PSI2Ii8+PHJlY3QgeD0iMzQiIHk9IjcwIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHJ4PSI2Ii8+PHJlY3QgeD0iNjQiIHk9IjcwIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHJ4PSI2Ii8+PHJlY3QgeD0iOTQiIHk9IjcwIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHJ4PSI2Ii8+PHJlY3QgeD0iMTI0IiB5PSI3MCIgd2lkdGg9IjE1IiBoZWlnaHQ9IjE1IiByeD0iNiIvPjwvc3ZnPg==") !important;
}

/* Hover Effect */
.tab-audio:hover .audioicon,
.audio-container:hover .audioicon,
.button-icon.audio:hover .audioicon {
  opacity: 1 !important;
  transform: scale(1.2) !important;
}
