/* pinned-grid.css */
/* 固定标签页多列图标按钮布局 */

:root {
  --PinnedTab: 45px; /* 固定标签页高度 */
  --biggertab: 40px; /* 普通标签页高度 */
}

/* 网格布局容器 */
#tabs-container .resize {
  display: grid !important;
  height: calc(100% - 28px);
  flex: unset !important;
  grid-auto-rows: max-content;
  gap: .5em;

  /* 保持 tab-strip 内部内容显示 */
  .tab-strip,
  .sync-and-trash-container {
    display: contents;
  }

  /* 各种 tab 元素 */
  .tab-position,
  .newtab,
  .separator {
    transform: unset !important;
    position: relative;
  }

  /* 固定标签页布局为方形图标 */
  .tab-position.is-pinned {
    grid-column: span 1;
    min-width: 100%;
    max-width: 100%;
    height: var(--PinnedTab);
  }

  .tab-position.is-pinned .tab {
    background-color: rgba(230, 234, 241, 0.15);
    max-height: var(--PinnedTab);
  }

  .tab-position.is-pinned .tab-header {
    justify-content: center;
    padding: 0;
    flex-basis: var(--PinnedTab) !important;
  }

  .tab-position.is-pinned .tab-header .title {
    display: none;
  }

  /* 非固定标签页独占一行 */
  .tab-position:not(.is-pinned),
  .newtab,
  .separator {
    grid-column: 1 / -1;
    min-width: 100%;
  }

  /* 设置固定标签页列数 */
  grid-template-columns: repeat(4, minmax(var(--PinnedTab), auto)) !important;
}
