/* Automate status bar into clock button */
/* #browser:not(:has(.toolbar-editor)) > footer > .toolbar-statusbar {margin: -23px 0 0 auto; background-color: var(--colorBgAlphaBlur); height:24px !important; width: fit-content; border-radius: var(--radius) var(--radius) 0 0; border:none; box-shadow: 0 0 0 1px var(--colorBorder), 0 2px 6px rgba(0, 0, 0, 0.25);}
#browser:not(:has(.toolbar-editor)) > footer > .toolbar-statusbar > div:not(.ClockButton) {max-width: 220px; opacity: 1; visibility: visible; transition: max-width 1s ease-out 0s, opacity .15s ease-in 0s, visibility 0s !important;}
#browser:not(:has(.toolbar-editor)) > footer > .toolbar-statusbar:not(:focus-within):not(:hover):not(:has(.button-pressed)) > div:not(.ClockButton) { max-width:0; opacity: 0; visibility:hidden; transition: max-width .25s ease-out .4s, opacity .15s ease-out .5s, visibility .65s !important;}
#browser:not(:has(.toolbar-editor)) > footer > .toolbar-statusbar .StatusInfo {position:fixed; left:2px; bottom:2px; min-height:20px; padding: 1px 3px; background: var(--colorBgDark); border-radius: var(--radiusHalf); pointer-events: none; max-width: calc(100vw - 60px);}
.toolbar-statusbar .button-toolbar {align-self: auto;}

.toolbar-statusbar:before {content:''; position: fixed; z-index:-1; right:55px; height: 12px; width: 330px;} */
#browser:not(:has(.toolbar-editor)) footer > .toolbar-statusbar::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	height: 30px;
	z-index: -1;
}

#browser:not(:has(.toolbar-editor)) footer > .toolbar-statusbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: fit-content;
	height: fit-content;
	background-color: var(--colorBg);
	border-radius: var(--radius);
	border: none;
	box-shadow: none;
	transition: top .25s ease-out .5s, box-shadow 0s .75s !important;
}

#browser:not(:has(.toolbar-editor)) footer > .toolbar-statusbar:is(:hover, :focus-within, :has(.button-pressed)) {
	top: -40px;
	box-shadow: 0 0 0 1px var(--colorBorder), 0 2px 6px hsl(0deg 0% 0% / 25%);
	transition: top .15s ease-out .08s, box-shadow 0s .08s !important;
}

#browser:not(:has(.toolbar-editor)) footer > .toolbar-statusbar > div {
	max-height: 30px;
	transition: max-height .15s ease-out .08s !important;
}

#browser:not(:has(.toolbar-editor)) footer > .toolbar-statusbar:not(:hover):not(:focus-within):not(:has(.button-pressed)) > div {
	overflow: hidden;
	max-height: 0px;
	transition: max-height .25s ease-out .5s !important;
}

#browser:not(:has(.toolbar-editor)) footer > .toolbar-statusbar .StatusInfo {
	position: fixed;
	left: 2px;
	bottom: 2px;
	min-height: 20px;
	padding: 1px 3px;
	background: var(--colorBgDark);
	border-radius: var(--radiusHalf);
	pointer-events: none;
	z-index: 3;
}

/* statusbar with tabbar on bottom */
#browser.tabs-bottom:not(:has(.toolbar-editor)) footer {
	overflow: visible;
	display: flex;
	flex-flow: column;
}

#browser.tabs-bottom:not(:has(.toolbar-editor)) footer > .toolbar-statusbar .StatusInfo {
	bottom: unset;
	margin-top: 4.5px;
}

#browser.tabs-bottom:not(:has(.toolbar-editor)) footer > .toolbar-statusbar:not(:hover):not(:focus-within):not(:has(.button-pressed)) .StatusInfo {
	margin-top: -26.5px;
	transition: margin-top .27s ease-out .48s !important;
}


/* popup page zoom control */
#browser > footer .page-zoom-controls input[type=range] {position: absolute; background-image: linear-gradient(90deg, #0000 0 calc(22% - 2px), var(--colorBg) 0 22%, #0000 0 calc(40% - 2px), var(--colorBg) 0 40%, #0000 0 calc(58% - 2px), var(--colorBg) 0 58%, #0000 0 calc(77% - 2px), var(--colorBg) 0 77%, #0000 0 100%); box-shadow: 0 0 0 7px var(--colorBg), 0 0 0 8px var(--colorBorder), 0 2px 12px hsl(0deg 0% 0% / 25%); visibility: hidden; opacity:0; transform: translate(-25px, -20px); transition: visibility .6s, opacity .2s ease-out .4s, transform .25s ease-in .35s !important;}
#browser > footer .page-zoom-controls:is(:hover, :focus-within) > input[type=range] {visibility: visible; opacity: 1; transform: translate(-25px, -25px); transition: opacity: .1s ease-out .12s, transform .1s ease .1s !important;}
#browser > footer .page-zoom-controls input[type=range]::before {content: ''; position: absolute; pointer-events: none; border: 6px solid hsl(0deg 0% 0% / 0%); z-index: inherit; filter: drop-shadow(0 1px var(--colorBorder)); bottom: -19px; left: 50%; margin-left: -6px; border-top-color: var(--colorBgLight);}
#browser > footer .page-zoom-controls:has(input[type=range]) .zoom-percent {order:-1;} /* move % to left */
#browser > footer .page-zoom-controls .button-toolbar > button .button-title {min-width: 1ch; max-width: 1ch;} /* reduced Reset to R button */
