/* ================================================ */
/* Notice */
/* This mod disabled tabbar resizing and window dragging behavior on tabbar */
/* You can still resize tabbar after disabling auto-hide for tabbar */
/* You can still drag removing window on address bar */
/* ================================================ */

:root {
  --animation-test-speed: 120ms;
}
body:has(#tabs-subcontainer) #tabs-container {
  max-width: 18%;
  min-width: 18%;
  transition:
    min-width var(--animation-test-speed) ease-in 300ms,
    max-width var(--animation-test-speed) ease-in 300ms;
}

body:has(#tabs-container) #tabs-subcontainer {
  max-width: 82%;
  min-width: 82%;
  transition:
    min-width var(--animation-test-speed) ease-in 300ms,
    max-width var(--animation-test-speed) ease-in 300ms;
  transform-origin: left center !important;
}

body:has(#tabs-subcontainer) #tabs-container:hover {
  max-width: 82% !important;
  min-width: 82% !important;
  transition:
    min-width var(--animation-test-speed) ease-out 300ms,
    max-width var(--animation-test-speed) ease-out 300ms;
}

body:has(#tabs-container:hover) #tabs-subcontainer {
  max-width: 18% !important;
  min-width: 18% !important;
  transition:
    min-width var(--animation-test-speed) ease-out 300ms,
    max-width var(--animation-test-speed) ease-out 300ms;
}

#tabs-container {
  container-type: inline-size;
  container-name: tabs-container;
}

@container tabs-container (max-width: 120px) {
  .toolbar-large .ToolbarButton-Button {
    display: none !important;
  }
}

/* Hide scrollbars for vertical tab bars */
#browser #tabs-tabbar-container.left ::-webkit-scrollbar,
#browser #tabs-tabbar-container.right ::-webkit-scrollbar {
  display: none;
}

/* Disable tab bar resizing while auto-hide enabled */
body:has(.auto-hide-wrapper) #tabs-tabbar-container .SlideBar {
  display: none !important;
}

/* Hide accordion arrow for right-side tabs in density mode */
.tabs-right#browser.density-on .accordion-toggle-arrow:after,
.tabs-right#browser.density-on .tab-wrapper:after {
  display: none !important;
}

#tabs-tabbar-container {
  /* overflow: hidden !important; */
}

/* Disabled drag area, allow hover */
#tabs-tabbar-container,
#tabs-tabbar-container * {
  -webkit-app-region: no-drag !important;
}

#tabs-tabbar-container .toolbar-spacer,
#tabs-tabbar-container .toolbar-spacer-flexible,
#tabs-tabbar-container .toolbar-spacer-panel,
#tabs-tabbar-container .toolbar-divider {
  -webkit-app-region: no-drag !important;
}

#tabs-tabbar-container .button-ntp,
#tabs-tabbar-container .tab-header {
  -webkit-app-region: no-drag !important;
}

/* Keep mainbar expand while popout exists */
body:has(#tabs-subcontainer):has(
    #tabs-tabbar-container .ToolbarButton-Button.button-pressed
  )
  #tabs-container {
  max-width: 82% !important;
  min-width: 82% !important;
  transition:
    min-width 200ms ease-out 300ms,
    max-width 200ms ease-out 300ms;
}

body:has(#tabs-subcontainer):has(
    #tabs-tabbar-container .ToolbarButton-Button.button-pressed
  )
  #tabs-subcontainer {
  max-width: 18% !important;
  min-width: 18% !important;
  transition:
    min-width 200ms ease-out 300ms,
    max-width 200ms ease-out 300ms;
}

/* Tooltip hover triggers panel slide-in */
body:has(#vivaldi-tooltip:hover) .auto-hide-wrapper.has-tabbar {
  transition: transform 300ms cubic-bezier(0.25, 0.8, 0.25, 1.08) !important;
  transform: translateX(0) !important;
}
