:root {
  --animation-test-speed: 200ms;
}
body:has(#tabs-subcontainer) #tabs-container {
  max-width: 18%;
  min-width: 18%;
  transition:
    min-width var(--animation-test-speed) ease-in 300ms,
    max-width var(--animation-test-speed) ease-in 300ms;
}

body:has(#tabs-container) #tabs-subcontainer {
  max-width: 82%;
  min-width: 82%;
  transition:
    min-width var(--animation-test-speed) ease-in 300ms,
    max-width var(--animation-test-speed) ease-in 300ms;
  transform-origin: left center !important;
}

body:has(#tabs-subcontainer) #tabs-container:hover {
  max-width: 82% !important;
  min-width: 82% !important;
  transition:
    min-width var(--animation-test-speed) ease-out 300ms,
    max-width var(--animation-test-speed) ease-out 300ms;
}

body:has(#tabs-container:hover) #tabs-subcontainer {
  max-width: 18% !important;
  min-width: 18% !important;
  transition:
    min-width var(--animation-test-speed) ease-out 300ms,
    max-width var(--animation-test-speed) ease-out 300ms;
}

#tabs-container {
  container-type: inline-size;
  container-name: tabs-container;
}

@container tabs-container (max-width: 120px) {
  .toolbar-large .ToolbarButton-Button {
    display: none !important;
  }
}

/* Hide scrollbars for vertical tab bars */
#browser #tabs-tabbar-container.left ::-webkit-scrollbar,
#browser #tabs-tabbar-container.right ::-webkit-scrollbar {
  display: none;
}

/* Disable tab bar resizing */
body:has(.auto-hide-wrapper) #tabs-tabbar-container .SlideBar {
  display: none !important;
}

/* Hide accordion arrow for right-side tabs in density mode */
.tabs-right#browser.density-on .accordion-toggle-arrow:after,
.tabs-right#browser.density-on .tab-wrapper:after {
  display: none !important;
}

#tabs-tabbar-container {
  /* overflow: hidden !important; */
}

.auto-hide #browser .auto-hide-wrapper.show {
    -webkit-app-region: no-drag !important;
}

#app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) .auto-hide-wrapper.show .toolbar .toolbar-spacer, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).address-top .toolbar-mainbar .toolbar-spacer, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-mainbar .toolbar-spacer, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-statusbar .toolbar-spacer, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.top .toolbar:not(.expecting-drop) .toolbar-spacer, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.bottom .toolbar:not(.expecting-drop) .toolbar-spacer, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) .auto-hide-wrapper.show .toolbar .toolbar-spacer-flexible, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).address-top .toolbar-mainbar .toolbar-spacer-flexible, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-mainbar .toolbar-spacer-flexible, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-statusbar .toolbar-spacer-flexible, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.top .toolbar:not(.expecting-drop) .toolbar-spacer-flexible, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.bottom .toolbar:not(.expecting-drop) .toolbar-spacer-flexible, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) .auto-hide-wrapper.show .toolbar .toolbar-spacer-panel, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).address-top .toolbar-mainbar .toolbar-spacer-panel, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-mainbar .toolbar-spacer-panel, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-statusbar .toolbar-spacer-panel, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.top .toolbar:not(.expecting-drop) .toolbar-spacer-panel, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.bottom .toolbar:not(.expecting-drop) .toolbar-spacer-panel, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) .auto-hide-wrapper.show .toolbar .toolbar-divider, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).address-top .toolbar-mainbar .toolbar-divider, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-mainbar .toolbar-divider, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-statusbar .toolbar-divider, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.top .toolbar:not(.expecting-drop) .toolbar-divider, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.bottom .toolbar:not(.expecting-drop) .toolbar-divider, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) .auto-hide-wrapper.show .toolbar .toolbar-spacer button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).address-top .toolbar-mainbar .toolbar-spacer button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-mainbar .toolbar-spacer button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-statusbar .toolbar-spacer button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.top .toolbar:not(.expecting-drop) .toolbar-spacer button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.bottom .toolbar:not(.expecting-drop) .toolbar-spacer button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) .auto-hide-wrapper.show .toolbar .toolbar-spacer-flexible button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).address-top .toolbar-mainbar .toolbar-spacer-flexible button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-mainbar .toolbar-spacer-flexible button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-statusbar .toolbar-spacer-flexible button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.top .toolbar:not(.expecting-drop) .toolbar-spacer-flexible button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.bottom .toolbar:not(.expecting-drop) .toolbar-spacer-flexible button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) .auto-hide-wrapper.show .toolbar .toolbar-spacer-panel button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).address-top .toolbar-mainbar .toolbar-spacer-panel button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-mainbar .toolbar-spacer-panel button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-statusbar .toolbar-spacer-panel button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.top .toolbar:not(.expecting-drop) .toolbar-spacer-panel button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.bottom .toolbar:not(.expecting-drop) .toolbar-spacer-panel button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) .auto-hide-wrapper.show .toolbar .toolbar-divider button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).address-top .toolbar-mainbar .toolbar-divider button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-mainbar .toolbar-divider button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)).mac .toolbar-statusbar .toolbar-divider button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.top .toolbar:not(.expecting-drop) .toolbar-divider button, #app #browser:not(.toolbar-edit-mode, .fullscreen):not(:has(.toolbar.dragging, #capture-area)) #tabs-tabbar-container.bottom .toolbar:not(.expecting-drop) .toolbar-divider button {
    -webkit-app-region: no-drag !important;
}

/* 当且仅当弹窗是从标签栏内部的按钮（前置或后置工具栏）打开时，修改宽度 */

/* 1. 修改主标签栏宽度 */
body:has(#tabs-subcontainer):has(
  #tabs-tabbar-container .ToolbarButton-Button.button-pressed
) #tabs-container {
  max-width: 82% !important;
  min-width: 82% !important;
  transition:
    min-width 200ms ease-out 300ms,
    max-width 200ms ease-out 300ms;
}

/* 2. 修改二级标签栈宽度 */
body:has(#tabs-subcontainer):has(
  #tabs-tabbar-container .ToolbarButton-Button.button-pressed
) #tabs-subcontainer {
  max-width: 18% !important;
  min-width: 18% !important;
  transition:
    min-width 200ms ease-out 300ms,
    max-width 200ms ease-out 300ms;
}
